body {
	background-image: url("concrete_seamless.png");
}

.dates {
	float: right;
	position: relative;
	margin-top: -18px;
	font-family: Arial;
	padding: 0px;
}

.work-content{
    font-family: Arial;
}

#main{
	margin: 0px auto;
	width: 800px;
	position: relative;
}

#picture {
	float: right;
	position: absolute;
	margin-left: 560px;
	margin-top: 67px;
	width: 30%;
	background-color: #fcfcfc;
	padding: 5px; 
}

#contact{
    font-family: Tahoma;
    float: left;
}

#profile-statement{
    float: left;
    width: 60%;
    font-family: Arial;
    margin-top: -20px;
    font-size:120%;
    
}

#professional-experience {
	clear: both;
}

#QBP {
	float: left;
}

#sap{
	float: left;
}

#VNF {
	float: left;
}

hr {
	width: 100%;
	border: 2px solid #285E28;
}

h1 {
	font-family: Tahoma;
	font-size: 250%;
	margin-bottom: 0px
}

h2 {
	font-family: Tahoma;
	padding: 0px;
	margin: 2px;
}

h3 {
	font-family: Tahoma;
	margin-top: 2px;

}

h4 {
	font-family: Tahoma;
	display: block;
}